<ul>
  <li class="list-group-item">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h3>{{venue.name}}</h3>
          <img src='{{this.link}}'>
        </div>
        <div class="col l6 s12">
          <h5>Info</h5>
          <ul>
            <li><b>Address: </b><a href="{{venue.url}}">{{venue.address}} </a></li>
            <li><b>Phone Number:</b> {{venue.phone}} </li>
            <li><b>Rating:</b> {{venue.rating}} </li>
            <li><b>Website:</b> <a href="{{venue.website}}">{{venue.website}} </a> </li>
            <li><b>Hours:</b>
                {{#each venue.hours}}
                  <p>{{this}}</p>
                {{/each}}
            </li>
          </ul>
        </div>
      </div>
      <form action="/cart/{{venue.name}}" method="post">
        <input type="hidden" name="venue" value={{venue}}></input>
        <button class="btn" type="submit" name="button">Add to MyVenues</button>
      </form>
    </div>
  </li>
</ul>
